.container{
    max-width: 1140px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

.menu-link {
    font-size: 20px;
    line-height: 24px;
    color: #2E266F;
    text-decoration: none;
    margin-right: 45px;
}